<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
    <mat-card class="">
        <div class="container">
            <div class="column column-left">
                <div class="image">
                    <img [src]="rick.image" alt="{{rick.name}}" class="">
                </div>
            </div>
            <div class="column column-right">
                <div class="infos">
                    <h2>{{rick.name}} - {{rick.dimension}}</h2>
                    <p>{{rick.description}}</p>
                    <h2>{{rick.morty.name}}</h2>
                    <img [src]="rick.morty.image" alt="{{rick.name}}" class="">
                </div>
                <div class="buttons">
                    <button mat-raised-button routerLink="/">Voltar para lista</button>
                    <button mat-raised-button routerLink="historic">Histórico</button>
                    <button mat-raised-button (click)="openDialog()" color="primary">Adicionar uma viagem</button>
                </div>
            </div>
        </div>
    </mat-card>
</div>